:root {
  --main-background-color: #f5f1fe;
  --primary-color: #995db5;
  --secondary-color: #4b4b4b;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--main-background-color);
  font-family: "PT Mono", monospace;
}
h1,
h2,
h3 {
  text-align: center;
}

h2 {
  margin-top: 100px;
  font-size: 40px;
}

h1 {
  font-weight: 800;
  font-size: 70px;
  padding: 10px;
}
.project-header {
  font-family: "Monofett", monospace;
  font-size: 70px;
  color: var(--primary-color);
}
.description-index {
  display: block;
  font-size: 25px;
  color: var(--secondary-color);
  padding: -10px;
}
.btn-index-header {
  display: flex;
  justify-content: center;
  margin-top: -25px;
}
.btn-index {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 60px;
}

.btns {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  margin-right: 20px;
  padding: 10px 20px 10px 20px;
  font-size: 15px;
  background-color: var(--main-background-color);
  color: var(--primary-color);
  box-shadow: var(--box-shadow);
}
.btns:hover {
  color: #fff;
  background-color: var(--primary-color);
}
.homepage {
  text-align: center;
  margin-top: 40px;
}

.about-me {
  margin-top: 50px;
  font-size: 100px;
}
.description-about {
  text-align: center;
  font-size: 25px;
  margin-top: -10px;
  color: var(--secondary-color);
}

.contactInfo {
  text-align: center;
  font-size: 40px;
  color: #000;
  margin-top: 50px;
}

.logo {
  max-width: 100px;
  filter: drop-shadow(0 0 20px #121212);
}
.logo:hover {
  transform: scale(1.2);
}
.background {
  background: rgba(225, 221, 221, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
}

.nav-link:hover {
  text-decoration: underline;
}
.project-title {
  text-align: left;
  margin-top: 7px;
  font-weight: bolder;
}

.project-links {
  color: var(--primary-color);
}
.project-links:hover {
  color: #fff;
}

.container-index {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  background-color: #fff;
}
.my-picture {
  display: flex;
  height: auto;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
}
.icons {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 24px;
  padding: 0px 20px;
  transition: all 200ms ease-in-out;
}
.icons:hover {
  transform: scale(1.5);
}
.project-icons {
  margin-top: 30px;
  margin-left: -25px;
  font-size: 30px;
  padding: 0px 20px;
  transition: all 200ms ease-in-out;
}
.project-icons:hover {
  transform: scale(1.5);
}
.signature {
  text-align: center;
  font-family: bitter;
  margin-right: 20px;
  font-size: 12px;
  margin-bottom: 5px;
  color: #828282;
}
@media (max-width: 900px) {
  .title {
    text-align: center;
  }
  .project-info {
    text-align: center;
  }
  h1 {
    font-size: 50px;
  }
  .about-me {
    font-size: 70px;
  }
  .about-row {
    margin-right: 50px;
  }
  .my-picture {
    margin-top: 20px;
  }
}
.slider {
  max-width: 500px;
  height: 300px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  text-align: center;
  overflow: hidden;
}
.image-container {
  width: 1500px;
  background-color: #fff;
  height: 300px;
  clear: both;
  position: relative;
  display: flex;
}
.slide-1,
.slide-2,
.slide-3,
.slide-4 {
  margin: 0px;
  padding: 0px;
  position: relative;
  border-radius: 16px;
}
#slide-1:target ~ .image-container {
  left: 0px;
}
#slide-2:target ~ .image-container {
  left: -500px;
}
#slide-3:target ~ .image-container {
  left: -1000px;
}
#slide-4:target ~ .image-container {
  left: -1500px;
}
.buttons {
  position: relative;
  top: -20px;
}
.buttons a {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: var(--primary-color);
}

.contact-header {
  padding-top: 150px;
  filter: drop-shadow(0 0 20px #995db5);
}
.about-text {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
